.bg-gradient-primary {
    background: #f4f4f5 !important;
    background-size: cover;
}
 .form-group {
	 position: relative;
}
 .form-group + .form-group {
	 margin-top: 2px;
}

.form-control {
	
	 padding: 12px 0px 5px 0;
	
	 
	 border-radius: 0 !important;
	 box-shadow: 0 1px 0 0 #e5e5e5;
	 background-clip: border-box!important;
	 transition: box-shadow 150ms ease-out;
}

.form-control:focus {
    color:#858796 !important;

   box-shadow: 0 2px 0 0 #41CE4E !important;
}


.has-float-label label, .has-float-label>span {

    left: 0 !important;

}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
   /* font-size: 100% !important;
    opacity: .5;
    top: .85em !important;*/
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder
{
   opacity: 0
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-ms-placeholder
{
   opacity: 0
}

.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder
{
   opacity: 0
}

.has-float-label label, .has-float-label>span {
 top: -.95em !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: #fff !important;
}

/* forgot password */
 .field-icon {
  float: right;
  margin-right: -10px;
  margin-top: -28px;
  position: relative;
  z-index: 2;
}



.input-text {
    text-transform: capitalize;
}
/*kaita for validation (changes given by badal)*/

  div.error{
     
    width: 100% !important;
    margin-top: 0.25rem !important;
   top: .3em !important;
    color: #e74a3b!important;
      font-size: 70% !important; 
  }

  .has-float-label .form-control .error :placeholder-shown:not(:focus)+* {
   font-size: 70% !important; 
    opacity: 1!important; 
    top: .3em !important; 
}


/*.has-float-label .form-control .error:placeholder-shown:not(:focus)+* {
    font-size: 70% !important; 
    opacity: 1!important; 
    top: .3em !important; 
}*/

/*kavita*/



